<section class="footer-links__wrapper-bg">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        <a href="#" class="btn btn-primary btn-lg buttons__margin-top">Position Profile</a>
        <ul class="footer-links__ul">
          <li class="footer-links__li"><a href="http://www.kcc.edu/future/choosing/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Academic Programs</a></li>
          <li class="footer-links__li"><a href="http://www.kcc.edu/Community/Collegeinfo/ie/aqip/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Accreditation</a></li>
          <li class="footer-links__li"><a href="https://athletics.kcc.edu" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Athletics</a></li>
        </ul>
      </div>
      <div class="col">
        <a href="" class="btn btn-primary btn-lg buttons__margin-top">Apply Now</a>
        <ul class="footer-links__ul">
          <li class="footer-links__li"><a href="http://kcc.smartcatalogiq.com/2018-2019/Academic-Catalog" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Catalog</a></li>
          <li class="footer-links__li"><a href="http://www.kcc.edu/Community/Collegeinfo/ie/ir/databook/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Data Book</a></li>
          <li class="footer-links__li"><a href="http://www.kcc.edu/Community/Collegeinfo/collegelocations/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Directions to Campus</a></li>
        </ul>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</section>
