<section class="footer-links__wrapper-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><a href="{{ page.baseurl }}uploads/president-job-description.pdf" class="btn btn-primary btn-lg buttons__min-width buttons__footer-links--margin-top" target="_blank" rel="noopener">Position Description</a></div>
      <div class="col-md-4">
        <a href="{{ page.baseurl }}uploads/position-profile.pdf" class="btn btn-primary btn-lg buttons__min-width buttons__footer-links--margin-top" target="_blank" rel="noopener">Position Profile</a>
      </div>
      <div class="col-md-4">
        <a href="https://www.governmentjobs.com/careers/kankakeecc/jobs/2232707/president?pagetype=jobOpportunitiesJobs" class="btn btn-primary btn-lg buttons__min-width buttons__footer-links--margin-top" target="_blank" rel="noopener">Apply Now</a>
      </div>
      <div class="col-md-6 section__col--padding-left">
        <ul class="footer-links__ul-1">
          <li class="footer-links__li"><a href="http://www.kcc.edu/future/choosing/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Academic Programs</a></li>
          <li class="footer-links__li"><a href="http://www.kcc.edu/Community/Collegeinfo/ie/aqip/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Accreditation</a></li>
          <li class="footer-links__li"><a href="https://athletics.kcc.edu" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Athletics</a></li>
        </ul>
      </div>
      <div class="col-md-6 section__col--padding-left">
        <ul class="footer-links__ul-2">
          <li class="footer-links__li"><a href="http://kcc.smartcatalogiq.com/2018-2019/Academic-Catalog" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Catalog</a></li>
          <li class="footer-links__li"><a href="http://www.kcc.edu/Community/Collegeinfo/ie/ir/databook/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Data Book</a></li>
          <li class="footer-links__li"><a href="http://www.kcc.edu/Community/Collegeinfo/collegelocations/Pages/default.aspx" target="_blank" rel="noopener" class="footer-links__link typography__footer-link--link">Directions to Campus</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
