
.footer-links__wrapper-bg {
  background-color: $primary-red;
  margin-top: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-links__ul {
  list-style-type: none;
  margin-bottom: 0;
}

.footer-links__link:hover {
  color: $white;
  text-decoration-color: $white;
}
